{% extends 'main/layout.html' %}
{% load static %}

{% block main %}
<div class="about-section">
    <h2 class="about-title">DarkGames</h2>
    <p class="about-description">Ваш надёжный источник видеоигр по самым низким ценам.</p>

    <div class="about-values">
        <h3 class="values-title">Наши ценности</h3>
        <p class="value-item">Официальная регистрация: DarkGames – это легально работающая компания, гарантирующая честность каждой сделки.</p>
        <p class="value-item">Максимально низкие цены: Мы предлагаем лучшие цены на рынке и даем вам возможность получить игры ещё дешевле с помощью нашей уникальной системы проверки цен.</p>
    </div>

    <div class="price-drop-section">
        <h3 class="price-drop-title">Покупай ещё дешевле</h3>
        <p class="price-drop-text">Нашли игру дешевле в другом магазине? Отправьте нам ссылку, и если цена подтвердится, мы предложим вам скидку на эту игру.</p>
    </div>

    <div class="about-history">
        <h3 class="history-title">Почему DarkGames?</h3>
        <p class="history-text">Мы создали DarkGames, чтобы предложить геймерам уникальную возможность получать игры по честным и конкурентным ценам. Наши клиенты доверяют нам за надёжность и отличное обслуживание.</p>
    </div>

    <div class="about-reviews">
        <h3 class="reviews-title">Мнения наших клиентов</h3>
        <p class="review-item">"Спасибо DarkGames! Я сэкономил на новой игре!"</p>
        <p class="review-item">"Отличный сервис и реально низкие цены!"</p>
    </div>

    <div class="social-contact">
        <div class="contact-title">Будьте на связи</div>
        <div class="contact-info">
              <a href="https://vk.com/fazilgames" target="_blank">
                 <img class="contact-info-img" src="/static/main/img/structure/vk.svg" alt="vk">
             </a>
             <a href="https://t.me/DarkGames_official" target="_blank">
                 <img class="contact-info-img" src="/static/main/img/structure/telegram.svg" alt="telegram">
             </a>
             <a href="" target="_blank">
                 <img class="contact-info-img" src="/static/main/img/structure/youtube.svg" alt="youtube">
             </a>
        </div>
    </div>

    <div class="company-details">
        <h3 class="details-title">Реквизиты компании</h3>
        <p>ИП Сушков Сергей Вячеславович</p>
        <p>ИНН: </p>
        <p>ОГРНИП: </p>
        <p>Адрес: </p>
        <p>Телефон: </p>
        <p>Email: </p>
    </div>
</div>

{% endblock %}