{% extends 'main/layout.html' %}
{% load static %}

{% block bar %}
    <div class="menu-content-index" id="menu-content">
        <div class="menu-content-container">
            <div class="menu-content-sections">
                <div class="menu-content-item" id="menu-content-item-new" data-url="{% url 'index' %}#zagalovok-new">Новинки</div>
                <div class="menu-content-item" id="menu-content-item-editors-choice" data-url="{% url 'index' %}#zagalovok-editors-choice">Наш выбор</div>
                <div class="menu-content-item" id="menu-content-item-popular" data-url="{% url 'index' %}#zagalovok-popular">Популярное</div>
            </div>
        </div>
    </div>
    <div class="menu-content-index-mobile" id="menu-content-mobile">
        <div class="menu-content-mobile-container">
            <div class="menu-content-mobile-sections">
                <div class="sidebar" id="sidebar">
                    <div class="sidebar-container">
                        <div class="sidebar-item">
                            <a href="{% url 'catalog' %}">
                                <span class="sidebar-item-title">
                                    Весь каталог
                                </span>
                            </a>
                        </div>
                        <div class="sidebar-item">
                            <a href="#">
                                <span class="sidebar-item-title">
                                    Популярное
                                </span>
                            </a>
                        </div>
                        <div class="sidebar-item">
                            <a href="#">
                                <span class="sidebar-item-title">
                                    Новинки
                                </span>
                            </a>
                        </div>
                        <div class="sidebar-item">
                            <a href="#">
                                <span class="sidebar-item-title">
                                    Выбор редакции
                                </span>
                            </a>
                        </div>
                        <div class="sidebar-item">
                            <a href="#">
                                <span class="sidebar-item-title">
                                    Контакты
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div class="agreement">
        <div class="agreement-title"><strong>Пользовательское соглашение сайта DarkGames</strong></div>
        <div class="agreement-text">
            <p><strong>1. Общие положения</strong></p>
            <p> 1.1. Настоящее Пользовательское соглашение (далее – Соглашение) является договором между
                интернет-магазином компьютерных игр DarkGames (далее – Интернет-магазин) и пользователем (далее –
                Пользователь) при использовании сайта Интернет-магазина DarkGames и определяет условия, на которых
                Пользователь может использовать сайт Интернет-магазина. <br>
                1.2. Пользователь соглашается с условиями настоящего Соглашения, вступая в правоотношения с
                Интернет-магазином, в том числе с условиями обработки персональных данных, политикой конфиденциальности,
                правилами пользования сайтом.</p>
            <p><strong>2. Регистрация</strong></p>
            <p>2.1. Для использования определенных функций сайта, Пользователю необходимо пройти процедуру регистрации.
                Пользователь обязан предоставить достоверные данные о себе, обеспечивать их актуализацию и подтверждать
                свое согласие на обработку персональных данных.<br>
                2.2. Пользователь несет ответственность за сохранность своих учетных данных и обязуется сообщать
                Интернет-магазину о любом несанкционированном доступе к своему профилю.</p>
            <p><strong>3. Заказы и оплата</strong></p>
            <p>3.1. Интернет-магазин предоставляет Пользователю информацию о товарах и услугах, а также условиях их
                приобретения.<br>
                3.2. Пользователь может оформить заказ на приобретение товара или услуги через сайт Интернет-магазина,
                следуя указанным на сайте инструкциям.<br>
                3.3. При оформлении заказа Пользователь должен указать достоверные данные о себе и выбранных
                товарах/услугах.<br>
                3.4. Оплата заказа производится согласно указанным на сайте Интернет-магазина способам и тарифам.
                Пользователь несет ответственность за правильность указанных при оформлении заказа данных.</p>
            <p><strong>4. Доставка товаров</strong></p>
            <p>4.1. Интернет-магазин осуществляет доставку товаров Пользователю согласно указанным на сайте
                Интернет-магазина условиям и тарифам.<br>
                4.2. В случае неполучения Пользователем товара в установленные сроки, Пользователь должен
                незамедлительно уведомить об этом Интернет-магазин. В таком случае, Интернет-магазин обязан принять меры
                по урегулированию ситуации.</p>
            <p><strong>5. Возврат товара</strong></p>
            <p>
                5.1. Пользователь не может вернуть купленный товар, так как использованный ключ не подлежит повторному применению.<br>
            </p>
            <p><strong>6. Ограничение ответственности</strong></p>
            <p>6.1. Интернет-магазин не несет ответственности за некорректное использование Пользователем товаров или
                услуг, приобретенных на сайте Интернет-магазина.<br>
                6.2. Интернет-магазин не несет ответственности за некорректную работу сайта, вызванную техническими
                сбоями на стороне хостинг-провайдера или других служб, участвующих в обеспечении работоспособности
                сайта.</p>
            <p><strong>7. Интеллектуальная собственность</strong></p>
            <p>7.1. Все материалы сайта Интернет-магазина, включая тексты, фотографии, видео, графические изображения и
                др., являются объектами интеллектуальной собственности Интернет-магазина.<br>
                7.2. Использование материалов сайта Интернет-магазина без разрешения Интернет-магазина запрещено.</p>
            <p><strong>8. Заключительные положения</strong></p>
            <p>8.1. Интернет-магазин оставляет за собой право вносить изменения в настоящее Пользовательское соглашение
                без предварительного уведомления Пользователя.<br>
                8.2. В случае несогласия Пользователя с изменениями, внесенными в Пользовательское соглашение,
                Пользователь обязан прекратить использование сайта Интернет-магазина.<br>
                8.3. Все возможные споры между Интернет-магазином и Пользователем будут разрешаться в соответствии с
                законодательством.</p>
        </div>
    </div>
{% endblock %}

{% block scripts_end %}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
{% endblock %}